<?xml version="1.0" encoding="UTF-8" ?> 
<config>
	<modules>
		<Farmmade_Helloworld>
			<version>0.1.0</version> 
		</Farmmade_Helloworld>
	</modules>
    <frontend>
        <routers>
            <spinonesolutions>	<!-- I make this match my front name but I'm not sure it matters -->
                <use>standard</use>	<!-- Use standard routing as opposed to admin.  IE: frontend vs admin -->
                <args>
                    <module>Farmmade_Helloworld</module>	<!-- The module to search for controllers -->
                    <frontName>sammyspinonesolutions</frontName>	<!-- The first descriminator in the path.  "spinonesolutions" in http://localhost/spinonesolutions/ -->
                </args>
            </spinonesolutions>
        </routers>
    </frontend>
	<global>
		<models>
			<Farmmade_Helloworld>	<!-- This is used when istanting your Model EG: Mage::getModel("Farmmade_Helloworld/hellworld") -->
				<class>Farmmade_Helloworld_Model</class>	<!-- That class to use when isntanting objects of type above. --> 
			</Farmmade_Helloworld>
		</models>
	</global>
</config>